<p id="notice"><%= notice %></p>

<p>
  <b>Paragraph:</b>
  <%= simple_format(@bid.paragraph) %>
</p>

<p>
  <b>Idnumber:</b>
  <%= @bid.idnumber %>
</p>

<p>
  <b>P1:</b>
  <%= @bid.p1 %>
</p>

<p>
  <b>P2:</b>
  <%= @bid.p2 %>
</p>

<p>
  <b>P3:</b>
  <%= @bid.p3 %>
</p>

<p>
  <b>P4:</b>
  <%= @bid.p4 %>
</p>

<p>
  <b>P5:</b>
  <%= @bid.p5 %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
