<h1>Ausschreibung </h1> 
<body>

<p id="demo"></p>
<p> Press on of the options below :s</p>
</body>
<%= link_to 'Paragraphs', bids_path %>
<br>
<%= link_to 'Profile1', bids_profil1_path %>
<br>
<%= link_to 'Profile2', bids_profil2_path %>
<br>
<%= link_to 'Profile3', bids_profil3_path %>
<br>
<%= link_to 'Profile4', bids_profil4_path %>
<br>
<%= link_to 'Profile5', bids_profil5_path %>
<br>
<%= link_to 'Home', welcome_index_path %>
