<p id="notice"><%= notice %></p>

<p>
  <b>Idnumber:</b>
  <%= @user_db.idnumber %>
</p>
<p>
  <b>P1:</b>
  <%= @user_db.p1 %>
</p>

<p>
  <b>P2:</b>
  <%= @user_db.p2 %>
</p>
<p>
  <b>P3:</b>
  <%= @user_db.p3 %>
</p>
<p>
  <b>P4:</b>
  <%= @user_db.p4 %>
</p>
<p>
  <b>P5:</b>
  <%= @user_db.p5 %>
</p>
<p>
  <b>P6:</b>
  <%= @user_db.p6 %>
</p>

<p>
  <b>Pagraph:</b>
  <%= @user_db.paragraph %>
</p>



<%= link_to 'Edit', edit_user_db_path(@user_db) %> |
<%= link_to 'Back', user_dbs_path %>
